html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}


.main-heading,
.main-content,
.main-icons,
.main-quote {
  margin: 50px 125px;
}

/*#wrapper {
  margin: 20px auto 0 auto;
  padding: 0 150px;
}*/

header {
  background-color: #0c77af;
  height: 200px;
}

.main {
display: grid;
grid-template-columns: 70% 30%;
/*background-image: url('../images/ponce_stage.jpg');
background-repeat: no-repeat;
background-position: left;
background-size:auto;
height: 665px;*/
}

.hitter {
  background-image: url('../images/ponce_stage.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 665px;
  grid-column: 1;
}

/******MAIN FORM******/
.main-form {
  grid-column: 2;
  background-color: #0e334b;
}

.main-form form {
}

.main-form h1 {
  color: #fff;
  text-align: center;
  padding-top:20px;
}

.main-form input {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-form textarea {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-form button {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 350ms ease-in-out;
}

.main-form i {
  padding-left:10px;
}

.main-form button:hover {
  color:#0e334b;
  background-color: #fff;
  border: none;
}

/******MOBILE FORM******/

.mobile-form {
  display: none;
}

.mobile-form h1 {
  color: #666;
  text-align: center;
  padding-top:20px;
}

.mobile-form input {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-form textarea {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-form button {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0e334b;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #0e334b;;
  transition: all 350ms ease-in-out;
}

.mobile-form i {
  padding-left:10px;
}

.mobile-form button:hover {
  color:#fff;
  background-color: #0e334b;
  border: none;
}




/*********** MAIN ICONS **********/

.main-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.main-icons img {
  width: 40%;
}

.bat:nth-of-type(1) {
  grid-column: 1;
}

.field:nth-of-type(2) {
  grid-column: 2;
}

.field:nth-of-type(3) {
  grid-column: 3;
}








/*MEDIA QUERIES*/

@media screen and (max-width:1100px){
.mobile-form {
  display: block;
}

.main-form form {
  display: none;
}

.main {
  grid-template-columns: 100%;
  overflow: hidden;
}

}
