* {
box-sizing: border-box;
}

.header-bar {

  background-color: #0c77af;
  height:150px;
}

.header-bar p {
  float: right;
  padding-right: 10px;
  color: #fff;
  font-weight: 100;
}

.header-bar img {
display: block;
padding-left: 50px;
padding-top: 20px;
}

/*HEADER WITH FORM*/

header {
  background-image: url("../images/ponce_stage.jpg");
  background-position:left;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-form {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;

}

.empty-space {
  width: 65%;
}

.form-space {
  width: 35%;
}

/*FORM STYLES*/

form {
  width:400px;
  background-color: #0e334b;
  padding:50px;
}

form p {
  color: #fff;
  font-size: 24px;
  text-align: left;
  margin: 0;
}

input,
textarea,
button {
width: 100%;
font-size: 14px;
letter-spacing: 1px;
}

input, button {
  height: 50px;
  padding:15px;
  margin-top: 20px;
}

textarea {
  height: 150px;
  padding: 15px;
  margin-top: 20px;
}

button {
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 350ms ease-in-out;
}

button:hover {
  color: #0e334b;
  font-weight: bold;
  background-color: #fff;
  border: none;

}
