* {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}

.container {
margin: 0 100px;
}

/********HEADER BAR********/
.header-bar {
  height: 30px;
  background-color: #000;
}

.header-bar p {
  color: #fff;
  /*position: relative;*/
  text-align: right;
  padding: 5px 100px 0 5px;
}

.phone-num {
  color:#fff;
  text-decoration: none;
}

/********NAVIGATION********/
nav img {
  width:90px;
}

nav {
  display: grid;
  grid-template-columns: 10% 55% 35%;
  margin: 0 100px;
  /*position: sticky;*/
}

.nav-button {
  text-align: right;
  padding-top: 20px;
}

.nav-list {
text-align: left;
padding-top: 40px;
}

.nav-list a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 18px;
/*padding-right: 40px;*/
margin-right:30px;
}

.nav-list a:hover {
  color: #1bf72c;
  padding-bottom:24px;
  border-bottom: 8px solid #1bf72c;
  border-radius: 3px;
}

.quote-button {
  width: 175px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}

.quote-button:hover {
background-color: #000;
color:#fff;
}



/********HEADER********/

header {
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/trcs_stage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header h2 {
margin: 10px 0;
color: #fff;
font-size: 70px;
}

.header-box {
padding-top:8%;
padding-left: 20%;
  /*position: relative;
  top: 20%;
  left:20%;*/
}

header button {
  width: 175px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}

header button:hover {
background-color: rgba(255,255,255, 0.3);
cursor: pointer;
}


/********FOUR ICONS********/

.four-icons {
padding: 40px 150px;
display: flex;
justify-content: space-between;
text-align: center;
color: #e2e2e2;
background-color: #f9f9fa;
-webkit-box-shadow: 0px 10px 55px -21px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 10px 55px -21px rgba(0,0,0,0.3);
box-shadow: 0px 10px 55px -21px rgba(0,0,0,0.3);
}

.four-icons div {
  width: 25%;
}

.leaf-icon i:hover {
  color:#fbfa35;

  transition: all 350ms ease-in-out;
}

.house-icon i:hover {
  color:#26fcf8;
  transition: all 350ms ease-in-out;
}

.truck-icon i:hover {
  color:#fb2919;
  transition: all 350ms ease-in-out;
}

.tree-icon i:hover {
  color:#19f72c;
  transition: all 350ms ease-in-out;
}

/********SECTION TOP********/

.section-top {
  padding: 50px 0;
  font-size: 36px;
  text-align: center;
}

.section-top-logo img {
  width:100px;
}

.section-top h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}


.section-top p {
  padding-bottom:20px;
}

/********SECTION MIDDLE********/

.section-middle {
  padding: 50px 0;
}

.section-middle-title {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.services-title h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  padding-bottom: 30px;
  text-align: center;
}

.line-1,
.line-2 {
  padding-top: 20px;
}

.section-middle h2 {
  padding-bottom: 10px;
}

.grid-wrapper {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 10% 35% 10% 35%;
  grid-gap: 35px;
}

.image img {
  width:30%;
}

.image {
  text-align: right;
}

.wheelbarrow,
.mower,
.painter,
.powerwasher,
.trashcan,
.driveway {
  opacity: 0;
  transform: translatey(-50px);
  transition: all 2s ease;
}

.animate-icons {
  opacity: 1;
  transform: translatey(0);
}


/********SECTION MIDDLE BOTTOM********/

.section-middle-bottom {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 25px;
}

/********SECTION-THREE-BOXES********/

.section-three-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  height: 350px;
  text-align: center;
}

.box h3 {
  font-size: 24px;
  padding: 50px 10px;
}

.box p {
  font-size: 16px;
  padding: 0 50px;
}

.box1 {
  background-color: #1bf72c;
}

.box2 {
  background-color: #20fdfe;
}

.box3 {
background-color: rgb(212,39,35);
}

/********FOOTER********/

footer {
  background: url(../images/black_thread.png);
  color:#fff;
  padding: 100px 0;

}

.footer-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 25% 20% 35%;
}

.footer-image,
.footer-about,
.footer-contact {
  padding:0 50px;
}


footer h3 {
  padding-bottom: 10px;
}

footer li {
  list-style: none;
  padding: 2px;
}

.footer-form input,
.footer-form textarea,
.footer-form button {
  display: block;
}

.footer-form input {
  margin: 7px 0;
  padding:15px;
  width: 300px;
  letter-spacing: 1px;
  border:none;
}

.footer-form textarea {
  margin: 7px 0;
  padding: 15px;
  width: 300px;
  height: 150px;
  border:none;
}

.footer-form button {
  background-color: #1bf72c;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 15px 0;
  width: 200px;
  transition: all 350ms ease-in-out;
}

.footer-form button:hover {
  background-color: rgba(27,247,44,0.6);
}

/********SECTION PAGE TITLE********/

.page-title {
  background-color: #000;
  height: 400px;
  color: #fff;
  text-align: center;
}

.page-title h1 {
  font-size: 48px;
  letter-spacing: 2px;
  position: relative;
  top:40%;
}









/********MEDIA QUERIES********/

@media screen and (max-width:1199px){

.container {
  margin: 0 100px;
}

footer {
  padding: 100px 75px;
}

.footer-wrapper {
  grid-template-columns: 20% 30% 50%;
}

.footer-about {
  display: none;
}

.nav-list,
.nav-button {
  display: none;
}

.section-middle-title {
  grid-template-columns: 30% 40% 30%;
}

}


@media screen and (max-width:900px){

  .container {
    margin: 0 50px;
  }

.four-icons {
  padding: 40px 75px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 35px;
}


.section-middle-bottom {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 25px;
}

.section-three-boxes {
  display: grid;
  grid-template-columns: 100%;
}

.footer-about,
.footer-services {
  display: none;
}

.footer-contact {
  padding-top: 50px;
}

.footer-form {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
}

.tree-icon {
  display: none;
}

.footer-form input,
.footer-form textarea {
  width:200px;
}

.footer-form button {
  width: 230px;
}


}

@media screen and (max-width:750px){

  .section-middle-title {
  grid-template-columns: 100%;
  text-align: center;
  }

.line-1,
.line-2 {
  display: none;
}

.header-bar p{
  text-align: center;
  padding: 5px 0;
}

nav {
  grid-template-columns: 100%;
}

nav img {
  display: block;
  margin: 0 auto;
}


}


@media screen and (max-width:450px){

  .container {
    margin: 0;
  }

  .header-box {
    position: absolute;
    padding-top: 20%;
    padding-left: 10%;
  }

  .header-box h1 {
    font-size: 40px;
  }

  .header-box h2 {
    font-size: 48px;
  }

  .four-icons {
    padding: 20px;
  }

  .grid-wrapper {
    grid-gap: 20px;
  }

  .section-middle .full-list {
    padding: 10px 0 10px 98px;
  }

  .main-text {
    padding: 15px;
  }

  .main-image {
    width:300px;
    padding: 15px;

}








}
