* {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}

.container {
width:1200px;
margin: 0 auto;
}



/********HEADER BAR********/
.header-bar {
  height: 30px;
  background-color: #000;
}

.header-bar p {
  color: #fff;
  position: relative;
  left: 15%;
  padding: 5px 0;
}

/********NAVIGATION********/
nav img {
  width:90px;
}

nav {
  display: flex;
  position: sticky;
}

.nav-logo {
  position: relative;
  left:15%;
  width:20%;
}

.nav-list {
  position: relative;
  top: 20px;
  right: 15%;
  width: 80%;
  text-align: right;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding-left:30px;
}

.quote-button {
  width: 175px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}

.quote-button:hover {
background-color: #000;
color:#fff;
}



/********HEADER********/

header {
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/trcs_stage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  margin:0;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: #fff;
  font-weight: lighter;
}

header h2 {
margin: 10px 0;
color: #fff;
font-size: 70px;
}

.header-box {
  position: relative;
  top: 20%;
  left:20%;
}

header button {
  width: 175px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}

header button:hover {
background-color: rgba(255,255,255, 0.3);
cursor: pointer;
}


/********FOUR ICONS********/

.four-icons {
padding: 40px 150px;
display: flex;
justify-content: space-between;
text-align: center;
color: #e2e2e2;
background-color: #f9f9fa;
}

.four-icons div {
  width: 25%;
}

/********SECTION TOP********/

.section-top {
  padding: 100px 0;
  font-size: 36px;
  text-align: center;
}

.section-top p {
  padding-bottom:20px;
}

/********SECTION MIDDLE********/

.section-middle {
  padding: 100px 0;
}

.section-middle h2 {
  padding-bottom: 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 10% 35% 10% 35%;
  grid-gap: 35px;
}

.image img {
  width:50%;
}

.image {
  text-align: center;
}

.section-middle .full-list {
  font-size: 24px;
  padding: 20px 0 20px 155px;
}

/********SECTION MIDDLE BOTTOM********/

.section-middle-bottom {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 25px;
}

/********SECTION-TESTIMONIALS********/

.section-testimonials {
    padding: 100px 0;
}

.testimonial-wrapper {
  display: grid;
  grid-template-columns: 15% 20% 50% 15%;
  /*grid-gap: 10px;*/
}

.testimonial-image img {
  width: 125px;
  border-radius: 50%;
}

.angle-right {
  text-align: right;
}

.angle-left {
  text-align: left;
}

.section-testimonials i {
  color: #2ea3f2;
}


/********FOOTER********/

footer {
  background: #000;
  color:#fff;
  padding: 100px 0;

}

.footer-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 25px;
}


footer h3 {
  padding-bottom: 10px;
}

footer li {
  list-style: none;
  padding: 2px;
}
