* {
  font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

section {
    padding: 100px 200px;
}

/******* HEADER *******/

header {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/texting-wmn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
  background-color: #000;

}

.logo {
  position: absolute;
  top:50px;
  left:100px;
}


.logo img {
  width: 200px;
}


.learnbtn button {

width: 250px;
color:white;
border: 1.5px solid #fff;
font-size: 20px;
border-radius: 50px;
padding:20px;
letter-spacing: 2px;
transition: all 350ms ease-in-out;
position: absolute;
top: 50px;
right:100px;
background-image: -webkit-linear-gradient(right, #69cbc8, #dc89d3);
background-image: -moz-linear-gradient(right, #69cbc8, #dc89d3);
background-image: -ms-linear-gradient(right, #69cbc8, #dc89d3);
background-image: -o-linear-gradient(right, #69cbc8, #dc89d3);
background-image: linear-gradient(to left, #69cbc8, #dc89d3);

}

.learnbtn button:hover {
  background-image: -webkit-linear-gradient(left, #69cbc8, #dc89d3);
  background-image: -moz-linear-gradient(left, #69cbc8, #dc89d3);
  background-image: -ms-linear-gradient(left, #69cbc8, #dc89d3);
  background-image: -o-linear-gradient(left, #69cbc8, #dc89d3);
  background-image: linear-gradient(to right, #69cbc8, #dc89d3);
  cursor: pointer;

}
.learnbtn button:focus {
outline: none;

}


.headercnt {
  position: absolute;
  top: 45%;
  left:15%;
}

.header-line-1 {
  border:0;
  background-color:#69cbc8;
  height:6px;
  width:30%;
}

.header-line-2 {
  border:0;
  background-color:#69cbc8;
  height:6px;
  width:30%;
}

.first-h1 {
  padding-top:10px;
  font-weight: 300;
  color:#fff;
  font-size: 100px;
  margin:0;
  letter-spacing: 2.25px;
}

.second-h1 {
  font-weight: 300;
  color:#fff;
  font-size: 100px;
  margin:0;
  letter-spacing: 3px;
  padding-bottom:10px;
}


.phone-down {
  color:#fff;
  position: absolute;
position: relative;
text-align: center;
bottom: -1000px;
}

.arrow-down {
  color:#fff;
  position: absolute;
position: relative;
text-align: center;
bottom: -975px;
}


/******* SECTION 1 *******/

.section-1 {
background: rgb(105,203,200);
    }

    .section-1-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .blank-1-title, .blank-2-title {
      width: 15%;
    }

    .section-1-title{
      width: 70%;
    }

    .section-1 h3 {
      text-align: center;
      font-size: 60px;
      font-weight: 300;
    padding:30px;
    color: #fff;
    }

    .section-1 h4 {
      text-align: center;
      font-size: 32px;
      font-weight: 300;
    padding:30px;
    color: #fff;
    }

    .section-1 hr {
      width:150px;
      height: 5px;
      color: #fff;
      background-color:#fff;
      border:none;
      display:block;
      margin:0 auto 10px auto;
    }


/******* SECTION 2 *******/

  .section-2 {
  background: rgba(105,203,200,0.5);
  /*height: 400px;*/
    }

    .section-2-wrapper {
      display: flex;
      justify-content: space-around;

    }

    .phone-image {
      width: 50%;
      text-align: center;
    }

    .phone-image img {
      width: 325px;
    }

    .phone-text {
      width: 50%;
    }

.phone-text h3 {
  color: rgb(105,203,200);
  font-size: 36px;
  text-align: left;
  padding-bottom: 20px;
}

.phone-text li {
  color:#fff;
  font-size: 24px;
  padding-top: 15px;
  list-style-type: none;
}

.phone-text li:before {
    font-family: 'FontAwesome';
    content: '\f0e5';
    margin:0 10px 0 0;
}

.phone-text ul {
  padding-bottom: 50px;
}

.phone-text button {
  width: 250px;
  border: 2px solid #fff;
  background-color: transparent;
  color:#fff;
  padding:15px;
  font-size: 24px;
  border-radius: 50px;
  letter-spacing: 2px;
  transition: all 350ms ease-in-out;
  /*margin-top:40px;*/
}

.phone-text button:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

/******* SECTION 3 *******/


.blank-1 {
  width: 20%;
}

.blank-2 {
  width:20%;
}
.section-3-content {
  width: 60%;
  display: block;
  margin: 0 auto;
}


.section-3 i {
position: relative;
left:50%;
padding-bottom: 30px;
}

.section-3 p{
  text-align: center;
}

.macbook-ph img {
  padding-top:75px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

/******* SECTION 4 *******/

.section-4 {
  background-color: #f4f4f4;
}

.pricing-table-wrapper {
  display: flex;
    justify-content: space-between;

}


.pricing-tables {
padding: 20px 0;
  width: 32%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(200,200,200,1);
  -moz-box-shadow: 1px 1px 8px 1px rgba(200,200,200,1);
  box-shadow: 1px 1px 8px 1px rgba(200,200,200,1);
}

.pricing-tables ul {
  list-style-type: none;
  padding-top:50px;
}

.pricing-tables li {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.table-name {
  font-size: 48px;
}

.section-4 button {
  margin:20px 0;
  width: 200px;
  border: 2px solid #69cbc8;
  background-color: transparent;
  color:#69cbc8;
  padding:15px;
  font-size: 24px;
  border-radius: 50px;
  letter-spacing: 2px;
  transition: all 350ms ease-in-out;
}

/******* SECTION 5 *******/

.section-5 {
  background-image: url("../images/bg-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-6 {
  background-color: #000;
  height:500px;
}
